<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.med.mtz.moises.paymentrecord">

    <application
        android:name=".PaymentRecordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaymentRecord"
        android:screenOrientation="portrait">
        <activity android:name=".presentation.profile.profile_activity.ProfileActivity" android:theme="@style/Theme.profile">

        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:theme="@style/Theme.PaymentRecord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>